
.repl {
 margin: 0px 5px;
 width:50%;
 background-color: white;
 -webkit-box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
 -moz-box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
      box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
}

@media (min-width: 1px) and (max-width: 50em) {
  .repl {
    display: none;
  }
}