.sanboxHeaderContainer {
  max-height: 75px;
}

.filtersContainerStyle {
  padding: 4px 30px;
  margin-top: 50px;
}

.filterHeaderStyle {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.filterListStyle {
  display: flex;
  align-items: flex-start;
}

.sandboxButton {
  padding: 3px 5px;
  border-radius: 7px 0px;
  margin: 5px;
  outline: none;
  cursor: pointer;
  color: black;
  border: 2px solid #008c9e;
  background-color: white;
  -webkit-box-shadow: 0.5px 1px 8px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0.5px 1px 8px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0.5px 1px 8px 1px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}

.sandboxButton:hover
 {
  transition: 0.15s;
  cursor: pointer;
  border: 2px solid #008c9e;
  color: #ffa537;
  background-color: #023749;
  -webkit-box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.35);
}

.sandboxIframe {
  height: 100%;
}