.main-content {
  padding: 0;
}

.playground-section {
  display: flex;
}

.video-player-container {
  color: #ECF5E6;
  font-size: 1.1rem;
  max-width: 55%
}

.video-player {
  width: 100%;
}

.video-title {
  letter-spacing: 1px;
}

.video-player-container h2 {
  font-family: 'Ubuntu', cursive;
}

.video-recap {
  color: #ECF5E6;
}

.video-header,
.video-footer {
  padding: 1.5em;
}


/* media queries */
@media (min-width: 36em) {}

@media (min-width: 1px) and (max-width: 800px) {
  .classroom-section {
    margin: -4em -2px;
  }

}

@media (min-width: 576px) and (max-width: 599px) {
  .classroom-section {
    margin: -4em -2px;
  }
}

@media (min-width: 1px) and (max-width: 576px) {
  .classroom-section {
    margin: -2px;
  }
}

@media (max-width: 680px) {
  .form-redirect-link {
    display: hidden;
  }

  .video-player-container {
    max-width: 100%;
  }
}