/* NextUI overide to not show text */
/* .nextui-c-iWjDFM, .nextui-button-text{
  z-index:0; 
} */

.buttonText {
  z-index: 0;
}

.pText {
  text-align: justify;
  letter-spacing: 0.5px;
  font-family: "Work Sans";
  font-size: 16px;
}

.textNoDec {
  text-decoration: none;
  color: #ffa537;
}

.collapseMenuText {
  color: black;
}

.moduleCards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: justify;
}

.moduleContent {
  max-width: 140px;
  margin: 5px;
  border-radius: 9px;
  text-align: center;
  text-decoration: auto;
  transition: 0.15s;
  background-color: #717c86;
  color: #ecf5e6;
  -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
}

.moduleHeaders {
  font-size: 24px;
  padding: 5px;
  font-weight: bold;
  color: #ecf5e6;
  text-align: center;
  text-decoration: none;
  margin: 5px 0px;
}

.mediaCards {
  width: 200px;
  padding: 2px;
  margin: 2px;
}

.mediaCardBorder {
  border: 1px solid white;
}

.poapDateText {
  color: #ffa537;
}

.card {
  width: 210px;
  height: 320px;
  margin: 20px;
  border: 1px solid white;
  border-radius: 9px;
  text-align: center;
  padding: 6px;
  transition: 0.15s;
  background-color: #717c86;
  color: #ecf5e6;
  -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
}

.cardImageContainer {
  width: 100%;
  height: auto;
}

.cardImage {
  max-width: 160px;
  max-height: 160px;
  padding: 9px;
  border-radius: 16px;
}

.connection {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hs {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
}

.hs > li:last-child {
  margin-right: 20px;
}

.hs::-webkit-scrollbar {
  display: none;
}

.wallet {
  min-width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  border-radius: 15px;
  font-size: x-large;
  flex: 1;
  margin: 10px;
}

.wallet:hover {
  cursor: pointer;
}

.wallet img {
  width: 100px;
  height: 100px;
}

.wallet h4 {
  margin: 0;
  font-size: large;
  margin-top: 10px;
}

.cardLinks {
  text-decoration: none;
}

.landingPageHeadline {
  letter-spacing: 1px;
}

.socialImageLinks:hover {
  color: #ffa537;
}

.cardDescriptionText {
  text-align: justify;
  letter-spacing: 0.25px;
}

.card:hover,
.pageBoxes:hover,
.moduleContent:hover {
  transition: 0.15s;
  -webkit-box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
}

.heroImage {
  margin: 0px;
  padding: 2px;
  max-width: 144px;
  height: 100px;
  border-radius: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.hide {
  display: none;
}

.main-header {
  font-size: 1.4rem;
  background-color: #717c86;
  max-width: 100%;
}

.main-header a {
  text-decoration: none;
}

.site-logo {
  letter-spacing: 2.25px;
  font-family: "Work Sans";
  text-align: center;
  transition: ease 0.2s;
}

.light {
  font-size:2rem;
  color: #ffa537;
}

.dark {
  font-size: 2rem;
  color: #023749;
}

.site-logo:hover {
  transition: ease 0.2s;
  text-shadow:
  /* 0 1px 0 #da81c8,
  0 2px 0 #da81c8,
  0 3px 0 #ECF5E6,
  0 4px 0 #ECF5E6, */ 0
      1px 0 #ecf5e6,
    0 2px 0 #ecf5e6, 0 3px 0 #008c9e, 0 4px 0 #008c9e,
    0 6px 1px rgba(255, 255, 255, 0.1), 0 0 5px rgba(255, 255, 255, 0.1),
    0 1px 3px rgba(255, 255, 255, 0.3), 0 3px 5px rgba(255, 255, 255, 0.2),
    0 5px 10px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.2),
    0 20px 20px rgba(255, 255, 255, 0.15);
}

.identity-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
}

.identity-container a {
  width: 100px;
  text-align: center;
  margin: 0px 10px;
}


.button {
  color: black;
  border: 2px solid #008c9e;
  
  padding: 0.3em;
  background-color: white;
  -webkit-box-shadow: 0.5px 1px 8px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0.5px 1px 8px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0.5px 1px 8px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.mediaButton:hover,
.identity-link:hover,
.identity-link:focus,
.button:hover,
.button:focus {
  transition: 0.15s;
  cursor: pointer;
  border: 2px solid #008c9e;
  color: #ffa537;
  background-color: #023749;
  -webkit-box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.35);
}

.signOutLink {
  margin: 0px 10px;
}

.site-nav {
  position: absolute;
  padding: 5px;
  top: 10px;
  left: 10px;
  display: flex;
}

.site-nav ul {
  display: flex;
}

.site-nav li {
  margin: 0 1em;
  list-style: none;
  font-size: 0.7em;
  font-family: "Open Sans";
  color: #ecf5e6;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: ease 0.2s;
}

.site-nav a {
  color: #f9f6f8;
}

.navigationLinks {
  color: white;
}
.navigationCollapseLinks {
  color: black;
}

.navigationLinks,
.navigationCollapseLinks {
  font-size: 1.2em;
  font-family: "Open Sans";
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: ease 0.2s;
  text-decoration: none;
  padding: 0px 5px;
}

.nav-link,
.navigationLinks,
.navigationCollapseLinks,
.button {
  transition: color 0.2s ease-in-out;
}

.nav-link:hover,
.navigationLinks:hover,
.navigationCollapseLinks:hover,
.button:hover {
  color: #ffa537;
}

.back {
  position: absolute;
  padding: 5px;
  left: 10px;
  display: flex;
}

.forward {
  position: absolute;
  padding: 5px;
  right: 10px;
  display: flex;
}

.site-logo-wrapper {
  display: flex;
}

.playground-section {
  display: flex;
}

.video-player-container {
  color: #fdfdfd;
  font-size: 1.1rem;
  min-width: 55%;
}

.video-player {
  width: 100%;
}

.video-header {
  background-color: #181716;
  max-height: 77.5px;
}

.video-title {
  letter-spacing: 1px;
  margin: 0px;
  padding: 0px;
  font-family: "Work Sans";
}

.video-recap {
  color: #bdbcbb;
}

.video-header,
.video-footer {
  padding: 1.5em;
}

.video-footer {
  background-color: #292c2d;
}

.video-description {
  color: #008c9e;
}
.videoThumbnails {
  width: 140px;
}

.video-creator-link {
  text-decoration: none;
  color: #008c9e;
  position: relative;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.video-creator-link:before,
.video-creator-link:after {
  content: "";
  background: #008c9e;
  position: absolute;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.video-creator-link:before {
  top: 0;
  left: 0;
}

.video-creator-link:after {
  top: 100%;
  right: 0;
}

.video-creator-link:hover,
.video-creator-link:focus {
  color: #008c9e;
}

.video-creator-link:hover:before,
.video-creator-link:hover:after,
.video-creator-link:focus:before,
.video-creator-link:focus:after {
  width: 100%;
}

.video-player-container {
  color: #ecf5e6;
  font-size: 1.1rem;
  max-width: 55%;
}

.video-player {
  width: 100%;
}

.video-player-container h2 {
  font-family: "Work Sans";
}

.video-recap {
  color: #ecf5e6;
}

.sandbox {
  width: 50%;
  -webkit-box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  display: flex;
  flex-flow: column;
}

.sandboxHeader {
  margin: 2.6px;
}

/* media queries */

@media (min-width: 1px) and (max-width: 680px) {
  .sandbox {
    display: none;
  }
}

@media (max-width: 680px) {
  .video-player-container {
    max-width: 100%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 680px) {
}

@media (max-width: 420px) {
  .nav-linkHidden {
    display: none;
  }
}
