.dashboard {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  text-decoration: none;
}

.passport {
  width: 420px;
  min-width: 350px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border: 2px solid black;
  margin: 0px;
  border-radius: 10px;

  -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
}

.passport:hover {
  transition: 0.15s;
  transform: scale(1.01);
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
}

.passportTextUl {
  color: #efefef;
  font-weight: bold;
  text-decoration: none;
  padding: 3px;
  margin: 0px;
}

.passportText {
  padding: 5px;
  text-align: right;
}

.pText {
  padding: 5px;
}

.contentHolder {
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.passportImage {
  width: 200px;
  height: 140px;
  border-radius: 10px 25px 25px 0;
  border: 2px solid black;
  margin: -2px;
}